.blogNewPlants {
    width: 100%;
    grid-row: 6;
    justify-content: space-between;
    grid-column: 1;
    overflow: hidden;
    position: relative;
    .currency {
        display: flex;
        justify-content: space-between;
        .btnPrice {
            cursor: pointer;
        }
    }
    .showcaseBlocks {
        justify-content: space-between;
        display: grid;
        align-self: center;
        grid-template-rows: 200px 50px 50px 50px;
        grid-template-columns: 1fr;
        height: 100%;
        padding: 10px;
        background-color: white;
        border-radius: 15px;
        transition: all 1s ease-in-out;
        position: relative;
        .isFavorite {
            position: absolute;
            left: 20px;
            z-index: 2;
            top: 20px;
        }
        .btn__showcase {
            width: 40px;
            height: 40px;
            position: relative;
            background-color: black;
            border: 0;
            cursor: pointer;
            border-radius: 40px;
            transition: all 0.3s ease-in-out;
            &:hover {
                width: 60px;
            }
            #svgLinear {
                stroke: white;
            }
            .arrowBtnShowCase {
                width: 50%;
                height: 100%;
            }
        }
        .tittles {
            z-index: 2;
            grid-row: 2;
            align-self: center;
            .desc {
                font-size: 13px;
                color: gray;
            }
        }
        .imageShowCase {
            grid-row: 1;
            z-index: 0;
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
    }
}