.shopCards {
    grid-row: 2;
    grid-column: 2;
    background-color: white;
    border-radius: 15px;
    position: relative;
    .moreassortment {
        grid-column: 2;
    }
    .header {
        display: grid;
        grid-template-columns: 110px 250px 1fr 1fr;
        grid-template-rows: 150px;
        border-bottom: 2px solid black;
        .inputSearch {
            grid-row: 1;
            grid-column: 3;
            align-self: center;
            justify-self: center;
            .closeblock {
                display: flex;
                position: relative;
                align-items: center;
                width: 400px;
                height: 40px;
            }
            .closeSvg {
                cursor: pointer;
                position: absolute;
                width: 30px;
                height: 30px;
                right: 0;
                align-self: center;
                object-fit: cover;
            }
            .search {
                border: none;
                outline: none;
                width: 400px;
                height: 40px;
            }
        }
        .linksimg {
            grid-column: 1;
            align-self: center;
            .pngplants {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .blockCart {
            display: grid;
            grid-template-columns: 100px 1fr 100px;
            grid-template-rows: 60px;
            grid-column: 4;
            align-self: center;
            justify-self: center;
            cursor: default;
            position: relative;
            .profile {
                place-self: center;
                width: 30px;
                grid-column: 3;
                grid-row: 1;
                cursor: pointer;
                height: 30px;
                .user {
                    width: 100%;
                    height: 100%;
                }
            }
            .cartsBlocks {
                display: flex;
                position: relative;
                grid-column: 1;
                cursor: pointer;
                justify-self: start;
                align-content: center;
                .blockCount {
                    display: flex;
                    width: 20px;
                    height: 20px;
                    border-radius: 20px;
                    background-color: rgb(248, 115, 66);
                    position: absolute;
                    right: 20px;
                    align-items: center;
                    justify-content: center;
                    .countercart {
                        color: white;
                        font-size: 13px;
                    }
                }
                #cart {
                    width: 55%;
                    height: 60%;
                }
            }
            .currenc {
                grid-column: 2;
                align-self: center;
                font-weight: bold;
                justify-self: center;
            }
        }
        .headName {
            grid-column: 2;
            text-decoration: none;
            color: black;
            align-self: center;
            justify-self: start;
            font-size: 30px;
            .subhead {
                font-size: 20px;
                opacity: 0.8;
            }
        }
    }
    .moreassortment {
        display: flex;
        padding: 20px;
        min-height: 800px;
        justify-content: space-around;
        border-radius: 0px 0px 15px 10px;
        flex-flow: wrap;
        background-color: rgb(247, 225, 225);
    }
}