.blockInfo {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(226, 224, 223);
    .eachPlant {
        margin-top: 20px;
        font-size: 19px;
        grid-column: 3;
        font-weight: 600;
    }
    .videoBlock {
        .videoMake {
            width: 200px;
            height: 150px;
            border-radius: 15px;
            background: url(../../../public/img/background.jpg) center;
            background-size: cover;
        }
        grid-column: 2;
        place-self: center;
    }
    .infoTxt {
        align-self: center;
        margin-left: 20px;
        .p1 {
            font-weight: bold;
            font-size: 30px;
        }
    }
}